.container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    
}

.inputContainer h1{
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1.5rem;

}

.inputContainer h1 span{
    color: var(--primary-color);
}

.inputContainer div{
    display: flex;
    margin-bottom: 2rem;
    width: 600px;
}

.inputContainer input{
    width: 100%;
    padding: 0.5rem 0.2rem 0.5rem 0;
    text-indent: 1rem;
    border:none;
    outline: none;
    font-size: 1rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.inputContainer input::placeholder{
    font-size: 1rem;
}

.inputContainer button{
    padding: 0 1rem;
    font-size: 0.8rem;
    height: 3rem;
    text-transform: uppercase;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
    border: none;

}

/* result */

.result{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;


}
.result a{
    padding: 0.5rem 1rem;
    color: white;
    border: 1px solid var(--primary-color);
    margin-right: 1rem;
}

.result button{
    padding: 0.5rem 1rem;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.result button.copied{
    color: var(--primary-color);
    background-color: #fff;
}

.noData{
    font-size: 1rem;
    color: #fff;
}